
body {
    background: url(../img/fondoSeg.jpg) no-repeat center top ;
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
 }
 
 nav{
  font-size: 24px;
}
 h1{
     color: white;
 }
/*Footer*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Establece la altura fija del pie de página */
    height: 325px;
  }

  /* Pie de página más alto en pantallas pequeñas */
  @media (max-width: 34em) {
      body {
        margin-bottom: 500px;
      }
      .footer {
        height: 350px;
      }
  }

  /* Estilo y color del pie de página adhesivo */
  footer {
    padding-top: 30px;
    padding-block-end: 15rem;
    background-color: #17406e;
    color: #bbb;
  }

  footer a {
    color: #999;
    text-decoration:none;
  }

  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }

  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }
  .nav-item{
    color: white;
  }
  .list-unstyled{
    font-size: 20px;
  }
