* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {

  background: url(../img/fondoSeg.jpg) no-repeat center top ;
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-attachment: fixed;
}

<<<<<<< HEAD
nav {
  font-size: 24px;
=======
nav{
  font-size: 30px;
>>>>>>> 94df67974a92bc758641f76304b2260b570863f7
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
}
.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 20px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 20px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1f53c5;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
/*Footer*/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Establece la altura fija del pie de página */
  height: 325px;
}

/* Pie de página más alto en pantallas pequeñas */
@media (max-width: 34em) {
    body {
      margin-bottom: 500px;
    }
    .footer {
      height: 250px;
    }
}

/* Estilo y color del pie de página adhesivo */
footer {
  padding-top: 30px;
  padding-block-end: 15rem;
  background-color: #17406e;
  color: #bbb;
  text-align: left;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}
.nav-item{
  color: white;
}
.list-unstyled{
  font-size: 20px;
}