* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: url(../img/fondoSeg.jpg) no-repeat center top ;
   margin: 0;
   padding: 0;
   background-size: cover;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-attachment: fixed;
}

nav{
  font-size: 30px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
}

.form-register {
  width: 400px;
  background: #000;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 7px 13px 37px #000;

}

.form-register h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 20px;
  color: white;
}

.form-register p {
  
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons  {
  border: none;
  cursor: pointer;
  background: #1f53c5;
  width: 100%;
  border: none;
  padding: 12px;
  color: #fff;
  margin: 16px 0;
  font-size: 20px;
  border-radius: 20px;
}
.form-register input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
/*Footer*/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Establece la altura fija del pie de página */
  height: 325px;
}

/* Pie de página más alto en pantallas pequeñas */
@media (max-width: 34em) {
    body {
      margin-bottom: 500px;
    }
    .footer {
      height: 500px;
    }
}

/* Estilo y color del pie de página adhesivo */
footer {
  padding-top: 30px;
  padding-block-end: 15rem;
  background-color: #17406e;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}
.nav-item{
  color: white;
}
.list-unstyled{
  font-size: 20px;
}